# k8s/config.yaml

apiVersion: v1
kind: ConfigMap
metadata:
  name: weather-config
data:
  DB_HOST: "postgres"
  DB_PORT: "5432"
  DB_NAME: "weather"
  DB_USER: "weather_app"
  KAFKA_BOOTSTRAP_SERVERS: "kafka:9092"
---
apiVersion: v1
kind: Secret
metadata:
  name: weather-secret
type: Opaque
stringData:
  DB_PASSWORD: "CHANGE_ME"